<!DOCTYPE html>
<html>
  <head>
    <title>contact </title>
  </head>
  <body> 
    <p align="right"> </p>
    
    <h3>For advertising and business inquiries, please <address>
     <a href=mailto: "fosterlynnboulin@gmail.com">email   </a>.<br> 
</address> </h3> 
   
   <div class = "social">
    <h3>FOLLOW US! </h3>
    <p> <address> <a href="https://www.instagram.com/victoriaboulin/">instagram.com</a> Victoria Boulin 
</address>
     
     </p>
   
      <br>
    </div>
      <br>
   
  </body>
    </html>